
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
     Forge forgetoken.org:8080 Mining Pool
  </title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/app/assets/images/0xbitcoin.png" />

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">

<style>
  [v-cloak] {
    display: none;
  }
  .bitcoin-color{
    color:#ff7209;
  }
</style>





<link href="/app/assets/main.css" rel="stylesheet"></head>

<body>

  <style>
  .page-container {
    max-width: 1260px;
    margin: 0 auto;
  }
  .navIcon {
    margin-right: 10px;
  }
</style>
<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img :src="brandImageUrl" />
    </a>
  </div>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/account"><i class="fas fa-dollar-sign navIcon"></i>View Account Shares</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/overview"><i class="fas fa-users navIcon"></i>Pool Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://discord.gg/jzrRkCPCNK" target="_blank"><i class="fab fa-discord navIcon"></i>Official Discord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://drive.google.com/u/0/uc?export=download&confirm=clAC&id=1XOcfFu6SsjWvfbcp3rPsuq9ovb7VONfb" target="_blank"><i class="fab fa-discord navIcon"></i>Official Miner Download</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://forgetoken.org"><i class="fas fa-users navIcon"></i>Main Forge Website</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://forgetoken.org/stats.html"><i class="fas fa-users navIcon"></i>Forge Stats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://era.zksync.network/token/0x366d17aDB24A7654DbE82e79F85F9Cb03c03cD0D"><i class="fas fa-users navIcon"></i>Forge & Mining Contract PolygonScan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://era.zksync.network/address/0xBb1fA87A4738B22F7d2D5EC34bA349375B4D86F0"><i class="fas fa-users navIcon"></i>Forge Auctions Contract</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://era.zksync.network/address/0x7d28fa576a4e08922B01e897CE4f5517AD351578"><i class="fas fa-users navIcon"></i>Forge Staking Contract</a>
      </li>
    </ul>
  </div>
</nav>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



    <div class="page-container slate-theme " id="home">
   <pre>  Forge Token Mining
	connect to the pool with your FPGA miner set to stratum+tcp://forgetoken.org:8080 
	connect to the pool with your GPU miner set to http://forgetoken.org:8080 </pre>


      <section class="hero circuit-overlay">
        <div class="hero-body">
            <div class="container has-text-centered" id='jumbotron'>
<iframe src="https://discordapp.com/widget?id=434889683177046016&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" style="float:left;"></iframe>
          <h1 class="title font-primary-title color-primary">
               Forge Token (Forge)  Mining Pool
            </h1>
               <a href="/account" target="_blank">
               <div class='button-bubble button-white button'>View Account Shares</div>
             </a>

            <a v-bind:href='pool.poolData.etherscanMintingURL'>
              <p>Minting: {{pool.poolData.mintingAddress}}</p>
            </a>

            <a v-bind:href='pool.poolData.etherscanPaymentURL'>
              <p>Payments: {{pool.poolData.paymentAddress}}</p>
            </a>
			
    <h2 class="subtitle">
              Mine Forge Tokens with AMD + NVIDIA + CPU Pool Mining + FPGA
            </h2>
            <div class="columns">
              <div class="column   is-half-desktop " style=" margin: 0 auto;">

                <canvas id="hashgraph"></canvas>

              </div>
            </div>
            </pre>
<pre style="text-align:left;">Contact me if this is you in discord with any questions
pool select forgetoken.org:8080
</pre>
             <a href="https://forgetoken.org/Forge-Stats/?page=miningcalculator&#" target="_blank">
               <div class='button-bubble button-white button'>Mining Profitability Calculator</div>
             </a>
             <br>
            <div class="whitespace-sm"></div>


          </div>
        </div>
      </section>





      <ul class="nav nav-tabs" id="tabPanel" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#guide">Start Mining</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#solutiontxlist">Recent Solutions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#transfertxlist">Recent Transfers</a>
        </li>
      </ul>
	  
              <hr>
              <p>Connect to this pool with
                <pre>pool select http://forgetoken.org:8080</pre>
              </p>
              <hr>

      </div>

      <div id="solutiontxlist" class="box background-secondary transaction-list tab-pane active box background-secondary" style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Recent Solutions</div>
        <table class='table zeroauto'>

          <thead>
            <tr>
              <td> Block </td>
              <td> TxHash </td>
              <td> Status </td>
            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list" v-bind:class="item.htmlClass">
              <td> {{ item.block }} </td>
              <td>

                <a v-bind:href='item.txURL'>
                  {{ item.txHash }}
                </a>
              </td>

              <td class="tx-status-cell"> {{ item.formattedStatus}} </td>
            </tr>

          </tbody>
        </table>

      </div>


      <div id="transfertxlist" class="box background-secondary transaction-list tab-pane active box background-secondary" style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>Recent Transfers</div>
        <table class='table zeroauto'>

          <thead>
            <tr>
              <td> Block </td>
              <td> TxHash </td>
              <td> Status </td>
            </tr>
          </thead>

          <tbody>

            <tr v-for="(item, index) in transactions.tx_list" v-bind:class="item.htmlClass">
              <td> {{ item.block }} </td>
              <td>
                <a v-bind:href='item.txURL'>
                  {{ item.txHash }}
                </a>
              </td>

              <td class="tx-status-cell"> {{ item.formattedStatus}} </td>
            </tr>

          </tbody>
        </table>

        <h4>Notes</h4>
        </div>
      </div>



      <div id="about" class="box background-secondary has-text-centered">

        <div class='title'> Forgetoken.org Mining Pool </div>

        <div class="whitespace-sm"></div>

        <div class='subtitle '> Mine  Forge tokens!  On the Polygon/MATIC Chain!!!  Distributed using Proof of Work </div>




        <div class="">

        </div>

        <div class="">
          <P>
          </p>


          <p> Read more on
            <a href="https://reddit.com/r/tokenmining" target="_blank"> Reddit </a>
          </p>



        </div>
      </div>

      <h3>Other Links</h3>
      <ul>
      <li class="nav-item">
        <a class="nav-link" href="https://docs.google.com/spreadsheets/d/1lpQufwMHeozyz2X5Xq9MhjLr_hVTkQfzpzXcdFQDRGg/edit#gid=0"
          target="_blank"><i class="fas fa-calculator navIcon"></i>Mining Calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.forgetoken.org"  class='navbar-item' target="_blank">
          <i class="fas fa-chart-line navIcon"></i>Forge Network Hashrate Graphs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.forgetoken.org" class='navbar-item' target="_blank">
          <i class="fas fa-th navIcon"></i>Forge Blocks
        </a>
      </li>
      </ul>

    </div>


    <footer class="footer slate-theme-dark">
   <div class="container">
     <div class="content has-text-centered">
       <p>
         <strong>0xToken</strong> Secure, fast digital payments.

          <br>
          The source code is licensed
         <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
         is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
       </p>
     </div>
   </div>
 </footer>



<script type="text/javascript" src="/bundle.js"></script></body>

</html>
